<div class="container">
<h3>Product Details</h3>

<p>Product Name: <%= @product.name %> </p>
<p>Product Brand: <%= @product.brand %> </p>
<p>Product Cost: <%= @product.cost %> </p>
<p>Product Category: <%= @product.category %> </p>
<p>Product Date Released: <%= @product.date %> </p>
<p>Product Description: <%= @product.description %> </p>

</div>
