<div class="container">
<h3>Novel Details</h3>

<p>Author: <%= @review.author %> </p>
<p>Product: <%= @review.product_id %> </p>
<p>Product Rating: <%= @review.rating %> </p>
<p>The Review: <%= @review.content %> </p>
<p>Date: <%= @review.date %> </p>


</div>
