<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <h5 class="my-0 mr-md-auto font-weight-normal"> Bens Tech Review </h5>

      <nav class="my-2 my-md-0 mr-md-3">


        <a class="p-2 text-dark" href="#"> <%= link_to "Home", static_pages_home_path %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "About Us", static_pages_about_path %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Contact Us", static_pages_contact_path %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Reviews", reviews_path %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Add New Review", new_review_path %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Create Account", new_profile_path %> </a>
        <% if current_user %>
        <a class="p-2 text-dark" href="#">
        <%= link_to 'Log out', session_path('active'), method: :delete %> </a>
        <a class="p-2 text-dark" href="#">
        <%= current_user.fname %>
        </a>
        <% else %>
        <a class="p-2 text-dark" href="#">
        <%= link_to 'Log in', new_session_path, class: "active_nav_link" %>
        </a>
       <% end %>
      </nav>

    </div>
    
    <div class="container">
    <%= yield %>
    </div>   
  </body>
</html>
